.FormContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: normal;
  flex: 1 1 auto;
}

.FormLabel {
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: normal;
  text-transform: capitalize;
  margin: 5px 0;
}

.FormInput {
  padding: 3px 9px;
  height: 30px;
  border-radius: 3px;
  border: solid 1.2px #eee;
  background-color: #fff;
  color: #1D3557;

  &:focus {
    border: 1px solid #1D3557;
    outline: none;
  }
}

.FormTextInput {
  height: 5rem;
}

.isError {
  border: solid 1px #BC204B;
}

.help {
  margin-top: 5px;
  color: #BC204B;
  line-height: 1.43;
  letter-spacing: normal;
}
